* {
	margin: 0;
	padding: 0;
}

html, 
body {
	height: 100%;
	overflow: hidden;
}

html {
	background-color: #222;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
	background-repeat: repeat;
}

h1, 
h2 {
	font-size: 24px;
}

p{
    margin: 10px 0 10px 0;
	font-size: 16px;
	line-height: 1.32;
	}

a {
	color: #7aa76d;
	text-decoration: none;

	-webkit-transition: 0.15s color ease;
	   -moz-transition: 0.15s color ease;
	    -ms-transition: 0.15s color ease;
	     -o-transition: 0.15s color ease;
	        transition: 0.15s color ease;
}
	a:hover {
		color: #91cd85;
	}


button {
	border: 0px;
	padding: 8px 10px;
	margin: 5px 0px;
	border-radius: 7px;
    width: 150px; 
	cursor: pointer;
	color: #fff;
	background: #7aa76d;
	font-size: 15px;


	-webkit-transition: 0.15s background ease;
	   -moz-transition: 0.15s background ease;
	    -ms-transition: 0.15s background ease;
	     -o-transition: 0.15s background ease;
	        transition: 0.15s background ease;

}
	button:hover {
		background: #91cd85;
	}
	button:active {
		background: #60895a;
	}
	
#capa{
	border: 0px;
	padding: 8px 10px;
	margin: 5px 0px;
	border-radius: 7px;
    width: 150px; 
	cursor: pointer;
	color: #fff;
	background: #7aa76d;
	font-size: 22px;
	font-weight:500; 
	letter-spacing: 1px; 
	box-shadow:10px 10px 10px rgba(103, 146, 89, 0.68); 


	-webkit-transition: 0.15s background ease;
	   -moz-transition: 0.15s background ease;
	    -ms-transition: 0.15s background ease;
	     -o-transition: 0.15s background ease;
	        transition: 0.15s background ease;
	}
	
	#capa:hover {
		background: #91cd85;
	}
	#capa:active {
		background: #60895a;
	}


body {
	background: #fff;

	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 16px;
	color: #222;
}

#resplandor{
    text-align:center; 
    font-size:22px;
    font-family: Arial Unicode MS, helvetica bold;
    border-radius:10px;
    outline:none;
    color:rgb(95, 202, 243); 
    padding: 3px;
    border:1px solid gray;
	-webkit-box-shadow: 0 0 0 white; 
    -webkit-transition: box-shadow 1s ease-in-out,
	                 border 0.75s;
    -moz-transition: box-shadow 1s ease-in-out,
	                 border 0.75s;
    transition: box-shadow 1s ease-in-out,
	                 border 0.75s;
}
 
#resplandor:hover {
    box-shadow: 0 0 10px #0093CC;
    -webkit-box-shadow: 0 0 10px #0093CC;
    -moz-box-shadow: 0 0 10px #0093CC;
    border: 1px solid white; 
}
#resplandor:focus {
     box-shadow: 0 0 10px#0093CC;
    -webkit-box-shadow: 0 0 10px #0093CC;
    -moz-box-shadow: 0 0 10px #0093CC;
      border: 1px solid white; 
}